#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}

.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

.bg-primary{
    background-color: #333 !important;
}

/* CARD STYLING */
.card {
    /* background-color: rgb(243, 239, 239); */
    margin-top: 20px;
    max-width: 95%;
    border: none;
}

.card-header{
    color: white;
    background-color: #4f82f0;
}

.card-exp {
    /* background-color: rgb(243, 239, 239); */
    margin-top: 20px;
    max-width: 85%;
    margin-left: 50px;

}

.card-image {
    padding: 0%;
    width: 100%;
    border-radius: 50%;
}

.card-body {
    padding: 0;
    padding-top: 1rem;
    padding-right: 2rem;
}

.card-body h5{
    margin-left: 10px;
}

.card-body h6{
    font-style: italic;
    font-weight: 300;
    margin-left: 10px;
}

p.card-text {
    padding: 1rem;
}

a.name
{
    pointer-events: none;
    color: black;
    font-size: x-large;
    font-weight: 600;
}

a.job{
    pointer-events: none;
    color: black;
    font-size: large;
    font-style: italic;
}


/* SKILLS, LANGUAGES, INTERESTS */
.col h2{
    background-color: #4f82f0;
    color: white;
    padding: 10px;
    font-size: 20px;
}

